{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12">
    <article>
      <h1 class="text-center">{{ .Title }}</h1>
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <div class="">{{ .Content }}</div>
      {{ if not .Params.disableShare -}}
      <div>
        <a class="btn btn-outline-primary my-2"
          data-bs-toggle="collapse" href="#collapseExample" role="button"
          aria-expanded="false" aria-controls="collapseExample"
        >
          Поделиться
          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 9l6 6l6 -6" /></svg>
        </a>
        <div class="collapse" id="collapseExample">
          {{ partial "main/share-buttons.html" . }}
        </div>
      </div>
      {{ end -}}
			<div class="card-list">
				{{ $paginator := .Paginate (.Data.Pages) -}}
				{{ range $paginator.Pages -}}
					<div class="card">
						<div class="card-body">
							<h2 class="h3"><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Params.title }}</a></h2>
							<p>{{ .Params.lead | safeHTML }}</p>
							{{ partial "main/blog-meta.html" . -}}
						</div>
					</div>
				{{ end -}}
				{{ $.Scratch.Set "paginator" true }}
        <div class="mt-3">
				{{ template "_internal/pagination.html" . }}
        </div>
			</div>
    </article>
  </div>
</div>
{{ end }}
