title: Ctlos Linux
description: Официальный сайт Ctlos Linux
baseurl: "" # /blog
url: "https://ctlos.github.io"
lang: ru-RU
logo: /assets/img/logo.svg
permalink: /:title/
disqus_shortname: ctlos

# Aux links for the upper right navigation
aux_links:
  - title: Поддержать
    url: /donat
  - title: Скачать
    url: /get
  - title: Обновления
    url: /wiki/changelog
  - title: Сообщество
    url: /wiki/#ресурсы-ctlos
    new_tab: true

defaults:
  -
    scope:
      path: ""
    values:
      image: /assets/img/post.png
      comments: true
      edit: true
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: post
      permalink: /wiki/changelog/:title/
      edit: false
      _comments:
        type: Marks the impact of this release

# nav footer
nav_footer_content: "Cloud <a target=\"\_blank\" href=\"https://m.do.co/c/49c4dbf3d0ca\">100$ free</a>"
# Footer content
back_to_top: true
footer_content: "Copyright &copy; <a href=\"https://github.com/pmarsceill/just-the-docs/tree/master/LICENSE.txt\">MIT license.</a>"

# Enable or disable the site search
search_enabled: true

# Set the search token separator for hyphenated-word search:
search_tokenizer_separator: /[\s/]+/

# Enable or disable heading anchors
heading_anchors: true

# Footer last edited timestamp
last_edit_timestamp: true # show or hide edit time - page must have `last_modified_date` defined in the frontmatter
last_edit_time_format: "%b %e %Y at %I:%M %p" # uses ruby's time format: https://ruby-doc.org/stdlib-2.7.0/libdoc/time/rdoc/Time.html

# Footer "Edit this page on GitHub" link text
gh_edit_link: true
gh_edit_link_text: "Отредактировать эту страницу на GitHub"
gh_edit_repository: "https://github.com/ctlos/ctlos.github.io"
gh_edit_branch: "master"
gh_edit_view_mode: "tree"

# "dark", "light"/nil
color_scheme: dark

google_analytics: UA-90439782-2
ya_metrika: 47541358
google_verification: 6GXUozcEfaPdh8Qcr-0qBY2AV8MkL-QoQ66FpbytieM
yandex_verification: 3051c5823192d0b9

plugins:
  - jekyll-menus
  - jekyll-seo-tag
  - jekyll-paginate
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-target-blank
  - jemoji

feed:
  path: wiki/feed.xml

target-blank:
  rel: nofollow

compress_html:
  clippings: all
  comments: all
  endings: all
  startings: []
  blanklines: false
  profile: false

types:
  - major
  - minor
  - patch

exclude:
  - "node_modules/"
  - "*.gemspec"
  - "*.gem"
  - "Rakefile"
  - "Gemfile"
  - "Gemfile.lock"
  - "package.json"
  - "package-lock.json"
  - "LICENSE.txt"
  - "README.md"
  - "lib/"
  - "_compress_images_cache.yml"
