$accent_color: #5a74ca;
$accent_color_light: mix($accent_color, $grey-dk-300, 10%);

$warning_colour: #aa759f;
$warning_colour_light: mix($warning_colour, $grey-dk-250, 10%);
// ////////////


blockquote {
  border-left: 5px solid #FD0;
  padding: 20px;
  margin: 15px 0;
  background-color: $accent_color_light;
  border-color: $accent_color;

  p:last-child {
    margin: 0;
  }

  &.warning {
    background-color: $warning_colour_light;
    border-color: $warning_colour;
  }
}

.autor {
  width: 8rem;
  margin-top: 1.25rem;
  border-radius: 9999px;
}

.badge {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  padding: 2px 5px;
  text-transform: uppercase;
  font-size: 0.6rem;
  border-radius: 2px;
  background: #eee;
  font-weight: 600;
  vertical-align: middle;

  &.major {
    background: $red-200;
    color: $white;
  }

  &.minor {
    background: $purple-100;
    color: $white;
  }

  &.patch {
    background-color: $purple-100;
    color: $white;
  }
}


.changelog {
  margin-top: 2rem;

  .changelog_item {
    border-top: 1px solid $grey-dk-200;
    padding: 1.5rem;
  }
}


// video post
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  margin: 1.75em 0;
}
.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive.embed-responsive-4by3 {
  padding-bottom: 75%;
}


// back-top
#scrollup {
  background: rgba($accent_color,.4);
  color: $white;
  position: fixed;
  z-index: 10000;
  padding: 5px 15px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  right: 20px;
  bottom: 30%;
  display: none;
  cursor: pointer;
}
