<div class="subscribe d-flex flex-column my-5">
  <div class="subscribe-info">
    <div class="display-6">Подпишитесь на рассылку</div>
    <div class="text-muted d-flex flex-column">
      <span>Получайте полезный контент о Linux и web dev.</span>
      {{/*<span>Получайте обновления о новых постах.</span>*/}}
      <span>Никакого спама.</span>
    </div>

    <a href="https://kit.ctlos.ru/subscribe?utm_source=ctlos" target="_blank" rel="nofollow noopener noreferrer" class="formkit-submit btn btn-primary btn-md mt-3 px-4">
      Подписаться
    </a>

  </div>
</div>
