{% if page.edit %}
{% if site.last_edit_timestamp or site.gh_edit_link %}
  <div class="d-flex mt-2">
    {% if site.last_edit_timestamp and site.last_edit_time_format and page.last_modified_date %}
      <p class="text-small text-grey-dk-000 mb-0 mr-2">
        Page last modified: <span class="d-inline-block">{{ page.last_modified_date | date: site.last_edit_time_format }}</span>.
      </p>
    {% endif %}
    {% if
      site.gh_edit_link and
      site.gh_edit_link_text and
      site.gh_edit_repository and
      site.gh_edit_branch and
      site.gh_edit_view_mode
    %}
      <p class="text-small text-grey-dk-000 mb-0">
        <a class="btn fs-3 my-4" href="{{ site.gh_edit_repository }}/{{ site.gh_edit_view_mode }}/{{ site.gh_edit_branch }}/{{ page.path }}" id="edit-this-page">{{ site.gh_edit_link_text }}</a>
      </p>
    {% endif %}
  </div>
{% endif %}
{% endif %}
