{% if page.post_video %}
<div class="embed-responsive embed-responsive-16by9">
  <iframe src="https://www.youtube.com/embed/{{ page.post_video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endif %}
{% if page.post_playlist %}
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list={{ page.post_playlist }}" modestbranding="1" frameborder="0" theme="dark" allowfullscreen></iframe>
</div>
{% endif %}
{% if page.post_photo_path %}
<img class="post-img" src="{{ page.post_photo_path }}" alt="{{ page.title }}">
{% endif %}
