---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}
<body>
  {% include svg.html %}

  <div class="side-bar">
    <div class="site-header">
      <a href="{{ '/' | relative_url }}" class="site-title lh-tight">{% include title.html %}</a>
      <a href="#" id="menu-button" class="site-button">
        <svg viewBox="0 0 24 24" class="icon"><use xlink:href="#svg-menu"></use></svg>
      </a>
    </div>
    <nav role="navigation" aria-label="Main" id="site-nav" class="site-nav">
      {% include nav.html %}
    </nav>
    <footer class="site-footer">
      {% if site.nav_footer_content != nil %}
      {{ site.nav_footer_content }}
      {% endif %}
    </footer>
  </div>
  <div class="main" id="top">
    <div id="main-header" class="main-header">
      {% if site.search_enabled != false %}
        <div class="search">
          <div class="search-input-wrap">
            <input type="text" class="js-search-input search-input" tabindex="0" placeholder="Search {{ site.title }}" aria-label="Search {{ site.title }}" autocomplete="off">
            <label for="search-input" class="search-label"><svg viewBox="0 0 24 24" class="search-icon"><use xlink:href="#svg-search"></use></svg></label>
          </div>
          <!-- <div id="search-results" class="search-results"></div> -->
          <div class="js-search-results search-results-wrap"></div>
        </div>
      {% endif %}
      {% if site.aux_links %}
        <nav aria-label="Auxiliary" class="aux-nav">
          <ul class="aux-nav-list">
            {% for link in site.aux_links %}
              <li class="aux-nav-list-item">
                <a href="{{ link.url }}" class="site-button"
                  {% if link.new_tab == true %}
                  target="_blank" rel="noopener noreferrer nofollow"
                  {% endif %}
                >
                  {{ link.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
    </div>
    <div id="main-content-wrap" class="main-content-wrap">
      <div id="main-content" class="main-content" role="main">
        <h1>{{ page.title }}</h1>

        {% include media.html %}

        {% if site.heading_anchors != false %}
          {% include vendor/anchor_headings.html html=content beforeHeading="true" anchorBody="<svg viewBox=\"0 0 16 16\" aria-hidden=\"true\"><use xlink:href=\"#svg-link\"></use></svg>" anchorClass="anchor-heading" %}
        {% else %}
          {{ content }}
        {% endif %}

        {% if page.has_children == true and page.has_toc != false %}
          <hr>
          <h2 class="text-delta">Table of contents</h2>
          <ul>
            {%- assign children_list = pages_list | where: "parent", page.title | where: "grand_parent", page.parent -%}
            {% for child in children_list %}
              <li>
                <a href="{{ child.url | absolute_url }}">{{ child.title }}</a>{% if child.summary %} - {{ child.summary }}{% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% include edit.html %}

        {% if site.disqus_shortname %}
          {% include disqus.html %}
        {% endif %}

        {% if site.footer_content != nil or site.last_edit_timestamp or site.gh_edit_link %}
          <hr>
          <footer>
            {% if site.footer_content != nil %}
              <p class="text-small text-grey-dk-000 mb-0">{{ site.footer_content }}</p>
            {% endif %}
          </footer>
        {% endif %}

      </div>
    </div>

    {% if site.search_enabled != false %}
      {% if site.search.button %}
        <a href="#" id="search-button" class="search-button">
          <svg viewBox="0 0 24 24" class="icon"><use xlink:href="#svg-search"></use></svg>
        </a>
      {% endif %}

      <div class="search-overlay"></div>
    {% endif %}
  </div>

  {% include footer.html %}
</body>
</html>
